

<div class="value">

    <div class="container-fluid">
       <div class="row"> 
            <div class="col-sm-7 px-0 d-none d-sm-block" style="color:white;"> 
           <div style="padding-top: 200px; padding-left:50px; padding-right:30px;"> 
                <h2 >WE PROVIDE BEST SERVICES</h2>
                <p>Lorem, ipsum dolor sit amet consectetur 
                    adipisicing elit. Esse molestias, quisquam harum inventore
                    iure repellendus sed odit, atque eos minima consequuntur 
                    asperiores tempora mollitia quas possimus
                    voluptates accusamus repudiandae quaerat.
                </p>
                <button class="btn btn-info" style="color: white; background:transparent;">Know more</button>
            </div>
            </div> 
        <div class="col-sm-4 login-section-wrapper stylo">
            <div class="brand-wrapper">
                
                <img src="assets/images/logo.svg" alt="logo" class="logo">
            </div>
            <div class="login-wrapper my-auto">
               <div style="text-align: center;">
                    <h1 class="login-title">MEDICO</h1>
                    <p>Welcome to Medico</p>
                </div>
                <form action="#!">
                    <div class="form-group" style="text-align: center;">
                        <label><label for="email">Email</label></label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com">
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <p for="password"><label>Password</label></p>
                        <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword">
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                       <div class="d-flex flex-row justify-content-between">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                            <p>Remember me</p>
                        </div>
                        <p>Forgot password?</p>
                    </div>
                    <input name="login" id="login" class="btn btn-block login-btn" type="button" value="SIGN IN">
                </form>
                <div style="text-align: center;">
                   <p><strong>OR</strong></p>  
                   <div class="d-flex flex-row justify-content-center">                 
                <!-- Social login -->
                    <div style="padding-right: 20px;">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </div>
                    <div style="padding-right: 20px;">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </div>
                    <div style="padding-right: 20px;">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </div>
                </div>              
                    <p class="login-wrapper-footer-text">Don't have an account?</p>
                    <p style="color: cornflowerblue;">SIGN UP</p>
                </div>
                

                
            
            </div>
        </div>
            
      
    </div>
</div>
