<div class="vh-100 bg-light">
  <div class=" row d-flex justify-content-between bg-white">
    <div class="d-flex justify-content-center font-weight-bold">
      <mat-card class="bg-primary text-white-50 m-1"><h1 class="text-center">Medico</h1></mat-card>
      <mat-card class="m-1">
        <div class="d-flex">
          <div></div>
          <div class="d-flex flex-column">
            <span>Dr. Nishant Clinician</span>
            <span class="text-black-50">Kids Care Clinic</span>
          </div>
          <div></div>
        </div>
      </mat-card>
      <mat-card class="m-1">
        <div class="d-flex">
          <div>

          </div>
          <div class="d-flex flex-column">
            <span>Today</span>
            <span class="text-uppercase text-primary">{{ todayDate()}}</span>
          </div>
          <div>

          </div>
        </div>
      </mat-card>
    </div>
    <div class="d-flex m-2">
      <span class="pillButtonNav mr-4">Appointment</span>
      <span class="pillButtonNav mr-4">Walk-In</span>
      <div>*</div>
    </div>
  </div>
  <div class="m-5">
    <patient-list [appointments] = "appointmentList"></patient-list>
  </div>
</div>

