<ejs-tab id="element">
  <e-tabitems>
    <e-tabitem>
      <ng-template #headerText>
        <div>
          <div class="tabHeader">
            <span>{{appointments.onQueue.length}}</span>
            <span>Queue</span>
          </div>
        </div>
      </ng-template>
      <ng-template #content>
        <div class="mr-5 ml-5">
          <div class="e-card">
            <div class="row waitingHeader">
              <div class="col-2"></div>
              <div class="col-2">Name</div>
              <div class="col-1">contact</div>
              <div class="col-1">Appointment</div>
              <div class="col-1">waited</div>
              <div class="offset-1 col-1"></div>
              <div class="col-1"></div>
            </div>
          </div>

          <div class="e-card" *ngFor="let patient of appointments.onQueue">
            <div class="row waitingList">
              <div [className]="'col-2 ' + isEven(patient) ? 'evenNumber' : 'oddNumber' ">
                {{appointments.onQueue.indexOf(patient) + 1}}</div>
              <div class="col-2 d-flex"> <img [src]="patient.imageURL" alt="">
                <div class="d-flex flex-column flex-start"> <span>{{patient.name}}</span> <span>{{patient.gender}},
                    {{patient.age}} yr</span> </div>
              </div>
              <div class="col-1">{{patient.contact}} </div>
              <div class="col-1">{{displayAppointmentTime(patient)}}</div>
              <div [className]="'col-1 ' + canCheckVital(patient) ? ' timeVital ' : ' timeCheckIn '">{{timeElapsed(patient)}}</div>
              <div class="offset-1 col-1 patientActivity">{{displayPatientActivity(patient)}}</div>
              <div class="col-1 text-center"> ... </div>
            </div>
          </div>

        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div>
          <div class="tabHeader">
            <span>{{appointments.onWaiting.length}}</span>
            <span>Waiting</span>
          </div>
        </div>
      </ng-template>
      <ng-template #content>
        <div class="mr-5 ml-5">
          <div class="e-card">
            <div class="row waitingHeader">
              <div class="col-2"></div>
              <div class="col-2">Name</div>
              <div class="col-1">contact</div>
              <div class="col-1">Appointment</div>
              <div class="col-1">waited</div>
              <div class="offset-1 col-1"></div>
              <div class="col-1"></div>
            </div>
          </div>

          <div class="e-card" *ngFor="let patient of appointments.onWaiting">
            <div class="row waitingList">
              <div [className]="'col-2 ' + isEven(patient) ? 'evenNumber' : 'oddNumber' ">
                {{appointments.onWaiting.indexOf(patient) + 1}}</div>
              <div class="col-2 d-flex"> <img [src]="patient.imageURL" alt="">
                <div class="d-flex flex-column flex-start"> <span>{{patient.name}}</span> <span>{{patient.gender}},
                    {{patient.age}} yr</span> </div>
              </div>
              <div class="col-1">{{patient.contact}} </div>
              <div class="col-1">{{displayAppointmentTime(patient)}}</div>
              <div [className]="'col-1 ' + canCheckVital(patient) ? ' timeVital ' : ' timeCheckIn '">
                {{timeElapsed(patient)}}</div>
              <div class="offset-1 col-1 patientActivity">{{displayPatientActivity(patient)}}</div>
              <div class="col-1 text-center"> ... </div>
            </div>
          </div>

        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div>
          <div class="tabHeader">
            <span>{{appointments.onPending.length}}</span>
            <span>Pending</span>
          </div>
        </div>
      </ng-template>
      <ng-template #content>
        <div class="mr-5 ml-5">
          <div class="e-card">
            <div class="row waitingHeader">
              <div class="col-2"></div>
              <div class="col-2">Name</div>
              <div class="col-1">contact</div>
              <div class="col-1">Appointment</div>
              <div class="col-1">waited</div>
              <div class="offset-1 col-1"></div>
              <div class="col-1"></div>
            </div>
          </div>

          <div class="e-card" *ngFor="let patient of appointments.onPending">
            <div class="row waitingList">
              <div [className]="'col-2 ' + isEven(patient) ? 'evenNumber' : 'oddNumber' ">
                {{appointments.onPending.indexOf(patient) + 1}}</div>
              <div class="col-2 d-flex"> <img [src]="patient.imageURL" alt="">
                <div class="d-flex flex-column flex-start"> <span>{{patient.name}}</span> <span>{{patient.gender}},
                    {{patient.age}} yr</span> </div>
              </div>
              <div class="col-1">{{patient.contact}} </div>
              <div class="col-1">{{displayAppointmentTime(patient)}}</div>
              <div [className]="'col-1 ' + canCheckVital(patient) ? ' timeVital ' : ' timeCheckIn '">
                {{timeElapsed(patient)}}</div>
              <div class="offset-1 col-1 patientActivity">{{displayPatientActivity(patient)}}</div>
              <div class="col-1 text-center"> ... </div>
            </div>
          </div>

        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem>
      <ng-template #headerText>
        <div>
          <div class="tabHeader">
            <span>{{appointments.onFinished.length}}</span>
            <span>Finished</span>
          </div>
        </div>
      </ng-template>
      <ng-template #content>
        <div class="mr-5 ml-5">
          <div class="e-card">
            <div class="row waitingHeader">
              <div class="col-2"></div>
              <div class="col-2">Name</div>
              <div class="col-1">contact</div>
              <div class="col-1">Appointment</div>
              <div class="col-1">waited</div>
              <div class="offset-1 col-1"></div>
              <div class="col-1"></div>
            </div>
          </div>

          <div class="e-card" *ngFor="let patient of appointments.onFinished">
            <div class="row waitingList">
              <div [className]="'col-2 ' + isEven(patient) ? 'evenNumber' : 'oddNumber' ">
                {{appointments.onFinished.indexOf(patient) + 1}}</div>
              <div class="col-2 d-flex"> <img [src]="patient.imageURL" alt="">
                <div class="d-flex flex-column flex-start"> <span>{{patient.name}}</span> <span>{{patient.gender}},
                    {{patient.age}} yr</span> </div>
              </div>
              <div class="col-1">{{patient.contact}} </div>
              <div class="col-1">{{displayAppointmentTime(patient)}}</div>
              <div [className]="'col-1 ' + canCheckVital(patient) ? ' timeVital ' : ' timeCheckIn '">
                {{timeElapsed(patient)}}</div>
              <div class="offset-1 col-1 patientActivity">{{displayPatientActivity(patient)}}</div>
              <div class="col-1 text-center"> ... </div>
            </div>
          </div>

        </div>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>
