<div class="brand-wrapper">
                
    <img src="assets/images/logo.svg" alt="logo" class="logo">
</div>
<div class="login-wrapper my-auto">
   <div style="text-align: center;">
        <h1 class="login-title">MEDICHOST</h1>
        <p style="font-family:'Acme',serif;">Welcome to MedicHost</p>
    </div>
    <form action="#!">
        <div class="form-group" style="text-align: center;">
            <label><label for="email" style="font-family:'Acme',serif;">Email</label></label>
            <input type="email" name="email" id="email" class="form-control" style="font-size:15px;" placeholder="email@example.com">
        </div>
        <div class="form-group" style="text-align: center;">
            <p for="password"><label style="font-family:'Acme',serif;">Password</label></p>
            <input type="password" name="password" id="password" class="form-control" style="font-size:15px;" placeholder="enter your passsword">
        </div>
        <div class="d-flex flex-row justify-content-between">
           <div class="d-flex flex-row justify-content-between">
               
                <p style="font-family:'Acme',serif;"> <input type="checkbox" ><span>Remember me</span></p>
            </div>
            <a href="/forgetpassword" style="font-family:'Acme',serif;">Forgot password?</a>
        </div>
        <input name="login" id="login" class="btn btn-block login-btn" type="button" value="SIGN IN">
    </form>
    <div style="text-align: center;">
       <p><strong>OR</strong></p>  
       <div class="d-flex flex-row justify-content-center">                 
    <!-- Social login -->
        <div style="padding-right: 20px;">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </div>
        <div style="padding-right: 20px;">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </div>
        <div style="padding-right: 20px;">
            <i class="fa fa-google" aria-hidden="true"></i>
        </div>
    </div>              
        <p class="login-wrapper-footer-text" style="font-family:'Acme',serif;">Don't have an account?</p>
        <a href="/signup" style="color: cornflowerblue; font-family:'Acme',serif;">SIGN UP</a>
    </div>
    

    

</div>