<div class="main">
  <div class="header">
    <h2 mat-dialog-title>M-3918</h2>
    <div class="miniFlex">
      <button id="miniFlexBtn" mat-stroked-button>
        <mat-icon matPrefix>edit</mat-icon>Edit
      </button>
      <mat-icon class="miniFlexMat-icon">clear</mat-icon>
    </div>
  </div>
  <div>
    <div class="detailOne">
      <div>
        <mat-dialog-content>Name</mat-dialog-content>
        <mat-dialog-content><h4>John Snow</h4></mat-dialog-content>
        <br />
        <mat-dialog-content>Email</mat-dialog-content>
        <mat-dialog-content><h4>jayden@gmail.com</h4></mat-dialog-content>
      </div>
      <div>
        <mat-dialog-content>Gender</mat-dialog-content>
        <mat-dialog-content><h4>Female</h4></mat-dialog-content>
        <br />
        <mat-dialog-content>Phone</mat-dialog-content>
        <mat-dialog-content
          ><h4>
            788-344-5667 <button mat-stroked-button id="callbtn">call</button>
          </h4>
        </mat-dialog-content>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="detailTwo">
      <div>
        <mat-dialog-content>Department</mat-dialog-content>
        <mat-dialog-content><h4>Neurosungery</h4></mat-dialog-content>
        <br />
        <mat-dialog-content>Requested Date</mat-dialog-content>
        <mat-dialog-content><h4>05/25/2018</h4></mat-dialog-content>
      </div>
      <div>
        <mat-dialog-content>Doctor</mat-dialog-content>
        <mat-dialog-content><h4>Dr MoneyHiest Nairobi</h4></mat-dialog-content>
        <br />
        <mat-dialog-content>Time</mat-dialog-content>
        <mat-dialog-content><h4>Morning</h4> </mat-dialog-content>
      </div>
    </div>
  </div>
</div>
