<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-nav-list>
        <h1 mat-list-item > Zendenta</h1>
        <small mat-list-item>cabut gigi tanpa sakit</small>
      </mat-nav-list>

    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">  <fa-icon class="text-secondary"  [icon]="faQuestionCircle"></fa-icon>Overview</a>
      <a mat-list-item href="#"> <fa-icon class="text-secondary"  [icon]="faCalendarAlt"></fa-icon>Calender</a>
      <a mat-list-item href="#"> <fa-icon class="text-secondary"  [icon]="faUser"></fa-icon> List</a>
      <a mat-list-item href="#"> <fa-icon class="text-secondary"  [icon]="faCommentDots"></fa-icon>Message</a>
      <a mat-list-item href="#"> <fa-icon class="text-secondary"  [icon]=" faSearchDollar"></fa-icon>Payment information</a>
      <a mat-list-item href="#"> <fa-icon class="text-secondary"  [icon]="faSlidersH"></fa-icon>Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Medichost</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
