<div class="fonter">
    <p style="text-align: center;">Lorem ipsum dolor sit, adipisci sequi natus dolore, eligendi vel quo at consequuntur, dignissimos aspernatur qui repellat eos! Dolore adipisci aut ad corrupti.</p>
    <div class="d-flex justify-content-around">
        <p><input type="radio" name="user" id="patient" value="patient"> <span>  Patient</span></p>
        <p><input type="radio" name="user" id="doctor" value="doctor"><span>  Doctor</span></p>
    </div>
    <hr>
    <div class="social d-flex justify-content-center">
        <div style="padding-right: 20px;">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </div>
        <div style="padding-right: 20px;">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </div>
        <div style="padding-right: 20px;">
            <i class="fa fa-google" aria-hidden="true"></i>
        </div>
    </div>
    <br>
    <p style="text-align: center; font-weight:bold;">OR</p>

    <div class="formal">
        <form class="needs-validation"action="#">
            <div class="d-flex justify-content-center"> 
                <div class="pand">
                    <div>
                        <label for="firstname">First Name</label>
                        <input id="firstname" class="form-control cunt" type="text" name="firstname">
                        <div class="valid-tooltip">
                            Looks Great!
                        </div>
                    </div>
                    <div>
                        <label for="email">Email Address</label>
                        <input id="firstname" class="form-control cunt" type="text" name="email">
                        <div class="valid-tooltip">
                            Looks Great!
                        </div>
                    </div>
                    <div class="midde">
                        <label for="password">Password</label>
                        <input id="password" class="form-control cunt" type="text" name="password">
                        <div class="valid-tooltip">
                            Looks Great!
                        </div>
                    </div>
                </div>
                <div class="pand">
                    <div>
                        <label for="lastname">Last Name</label>
                        <input id="lastname" class="form-control cunt" type="text" name="lastname">
                        <div class="valid-tooltip">
                            Looks Great!
                        </div>
                    </div>
                    <div>
                        <label for="number">Mobile</label>
                        <input id="number" class="form-control cunt" type="text" name="number">
                        <div class="valid-tooltip">
                            Looks Great!
                        </div>
                    </div>
                    <div>
                        <label for="cpassword">Confirm Password</label>
                        <input id="cpassword" class="form-control cunt" type="text" name="cpassword">
                    </div>
                    <div class="valid-tooltip">
                        Looks Great!
                    </div>
                </div>

            </div>  
            <div class="form-check checker">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                I agree with <a href="#">Terms and conditions</a>
                </label>
            </div>
            <br>
            <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary  btn-block sizer">SIGN UP</button> 
            </div>
        </form>

    </div>
    <br>
    <div style="padding-top: 3%;"></div>
    <div style="text-align: center;">
        2020 Medichost All rights reserved 
    </div>

    
</div>
