<div class="navbar navbar-expand-lg navbar-light bg-light dflex justify-content-between nav-height no-wrap">
    <div>
    <div class="navbar-brand"> <fa-icon class="text-primary"  [icon]="faUser"></fa-icon> <span class="ml-3">{{Name}}</span> </div>
</div>
  
        <div class="form-group has-search mt-3 margin" >

    <div class="form-group has-search ml-5 mt-3">
        <span class=" form-control-feedback"> <fa-icon   [icon]="faSearch"></fa-icon>   </span>
        <input type="text" [(ngModel)] = "Search" class="form-control rounded-pill" placeholder="Search">
      
      </div>
      
    </div>
    <div>
    
         <fa-icon class="text-primary" style="font-size: 2em;"  [icon]="faPlusCircle"></fa-icon>
        <span class="p-2 rounded-circle border-color"> <fa-icon class="font-icon text-secondary"  [icon]="faBell"></fa-icon> </span>
      </div>
</div>  
<div class="bg-light border p-3 d-flex justify-content-between">
    <div  ><a href="#" class="text-decoration-none mr-3">Patient List</a> <fa-icon class="font-icon text-secondary"  [icon]="faAngleRight"></fa-icon> <span class="ml-3 text-secondary">{{Name}}</span> </div>
    <div ><span class="border rounded p-2 mr-2"> <fa-icon class="font-icon text-secondary"  [icon]="faBriefcase"></fa-icon></span><span class="border p-2"><fa-icon class="font-icon text-secondary mr-2"  [icon]="faEdit"></fa-icon>Edit Patients</span></div>
</div>

