<div class="container">
  <div class="m-3 form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="bg-light form-control" name="firstName" />
    <span class="input-prepend">()()()</span>
  </div>
  <div class="m-3 form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="bg-light form-control" name="lastName" />
    <span class="input-prepend">()()()</span>
  </div>
  <div class="m-3 form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" class="bg-light form-control" name="phoneNumber" />
    <span class="input-prepend">()()()</span>
  </div>
  <div class="m-3 form-group">
    <label for="dob">Date of birth</label>
    <input type="date" class="bg-light form-control" name="dob" />
    <span class="input-prepend">()()()</span>
  </div>
</div>

<div class="footer">
  <button class="bg-light">+ Add New</button>
</div>
