<div class="ml-3 mt-3">
  <div class="row">
    <div class="col-5">
      <div class="row">
        <div class="col-4 pointer">
          <div class="e-card">
            <span class="logoText">Medico</span>
          </div>
        </div>
        <div class="col-4">
          <div class="e-card">
            <div class="d-flex justify-content-around align-items-center">
              <div>
                <i class="fa fa-user fa-5x pointer" aria-hidden="true"></i>
              </div>
              <div class="d-flex flex-column font-weight-bold">
                <span>{{doctor.name}}</span>
                <span class="text-black-50">{{doctor.department}}</span>
              </div>
              <div><i class="fa fa-sort-desc fa-2x pointer" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex justify-content-around align-items-center">
            <div><i class="fa fa-calendar fa-2x pointer" aria-hidden="true"></i></div>
            <div class="d-flex flex-column">
              <span>Today</span>
              <span class="text-primary font-weight-bold">{{todayDate()}}</span>
            </div>
            <div><i class="fa fa-sort-desc fa-2x pointer" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="offset-2 col-5">
      <div class="row">
        <div class="offset-3 col-3 pointer">
          <span class="pillButton bg-light">Appointment</span>
        </div>
        <div class="col-3 pointer">
          <span class="pillButton bg-light">Walk In</span>
        </div>
        <div class="col-3">
          <i class="fa fa-cog fa-4x setting pointer" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
