<div class="vale">

    <div class="container-fluid">
       <div class="row"> 
            <div class="col-sm-6 px-0 d-none d-sm-block" style="color:white;"> 
           <div style="padding-top: 200px; padding-left:50px; padding-right:30px;"> 
                <h2 style="font-size: 50px;">WE PROVIDE <br> BEST SERVICES</h2>
                <p>Lorem, ipsum dolor sit amet consectetur 
                    adipisicing elit. Esse molestias, quisquam harum inventore
                    iure repellendus sed odit, atque eos minima consequuntur 
                    asperiores tempora mollitia quas possimus
                    voluptates accusamus repudiandae quaerat.
                </p>
                <button class="btn btn-info" style="color: white; background:transparent;">Know more</button>
            </div>
            </div> 
        <div class="col-sm-6 login-section-wrapper">
           
           <app-signupmodal></app-signupmodal>
            
        </div>
            
      
    </div>
</div>
