.home {
  display: grid;
  grid-template-rows: 200px;
  border: 4px solid gold;
  height: 99%;
}
.sec-one {
  display: grid;
  grid-template-columns: 100px, 100px;
  border: 1px solid red;
}
.sec-two {
  border: 1px solid darkorchid;
}
.sec-three {
  border: 1px solid palegreen;
}
