<!-- <div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements"> -->
<!-- Id Column -->
<!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container> -->

<!-- Name Column -->
<!-- <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div> -->

<!-- ################################################################################################################# -->
<div class="main">
  <div class="mat-icon-notification">
    <span
      matBadge="1"
      matBadgePosition="above after"
      matBadgeSize="small"
      matBadgeColor="warn"
    >
      <mat-icon style="font-size: 25px;">notification_important</mat-icon>
    </span>
  </div>
  <div class="top">
    <div>
      <h3>Appointment Requests</h3>
      <p>All the active applicants information are below</p>
    </div>
    <div>
      <button mat-raised-button color="primary" class="addButton">
        <mat-icon matPrefix>add_circle_outline</mat-icon>Add individual
        Appointment
      </button>
    </div>
  </div>
  <div class="search-one">
    <div>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search ID, Name, Gender</mat-label>
        <input
          (keyup)="applyFilter($event.target.value)"
          matInput
          placeholder="Placeholder"
        />
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </div>
    <div class="search-two">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Filter by department</mat-label>
          <mat-select (selectionChange)="applyFilter($event.value)">
            <mat-option
              *ngFor="let value of hospitalData"
              [value]="value.department"
              >{{ value.department }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Filter by doctor</mat-label>
          <mat-select (selectionChange)="applyFilter($event.value)">
            <mat-option
              *ngFor="let value of hospitalData"
              [value]="value.doctor"
              >{{ value.doctor }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>event</mat-icon>
          <mat-label>Nigeria, April 22, 2020</mat-label>
          <input matInput placeholder="Placeholder" />
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell mat-sort-header *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Gender
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.gender }} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="department">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Department</mat-header-cell
      >
      <mat-cell *matCellDef="let element"> {{ element.department }} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="doctor">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Doctor</mat-header-cell
      >
      <mat-cell *matCellDef="let element"> {{ element.doctor }} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="requestedDate">
      <mat-header-cell mat-sort-header *matHeaderCellDef>
        Requested Date</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        {{ element.requestedDate }}
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Time</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.time }}
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="onDetail()">Details</button>
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="onCancel()">
          Cancel
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      (click)="logData(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons>
  </mat-paginator>
</div>
