<app-schedule-nav [displayExtra]="false" [doctorDetail]="currentDoctor"></app-schedule-nav>

<div class="container">
  <div class="row m-4 font-weight-bold">
    <span> {{viewModel.currentAddress}}</span>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ejs-calendar [value]='viewModel.dateValue' [min]='viewModel.minDate' [max]='viewModel.maxDate' cssClass="responsive"></ejs-calendar>
    </div>
    <div class="col-md-8">
      <div class="mb-4">
        <div class="d-flex justify-content-between mb-3">
          <span class="font-weigth-bold">
            ##
            <span>Morning<br>9:00 AM to 12:00 PM</span>
          </span>
          <span><a href="#">+ Add Slot</a></span>
        </div>

        <div>
          <ul class="row">
            <div class="col-3" *ngFor="let time of viewModel.morningSchedule">
              <li class="radioSelect">
                <ejs-radiobutton [label]="getMorningSchedule(time)" name="evening" [value]="time" ></ejs-radiobutton>
              </li>
            </div>
          </ul>
        </div>

      </div>
      <hr />
      <div class="mb-4">
        <div class="d-flex justify-content-between mb-3">
          <span>
            ##
            <span>Evening<br>5:00 PM to 09:00 PM</span>
          </span>
          <span><a href="#">+ Add Slot</a></span>
        </div>
        <div >
          <ul class="row">
            <div class="col-3" *ngFor="let time of viewModel.eveningSchedule">
              <li class="radioSelect text-center">
                <ejs-radiobutton [label]="getEveningSchedule(time)" name="evening" [value]="time"></ejs-radiobutton>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <hr />
      <div class="mb-4">
        <div class="d-flex justify-content-between mb-3">
          <span>
            ##
            <span>Waiting list</span>
          </span>
          <span><a href="#">+ Add to Wait List</a></span>
        </div>
      </div>
    </div>
  </div>
</div>




