<app-schedule-nav [displayExtra]="false"></app-schedule-nav>

<div class="container">
  <div class="row">
    <span> Appointment | {{currentAddress}}</span>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-calendar #calendar [(selected)]="selectedDate" (selectedChange)="dateChanged($event)">
      </mat-calendar>
    </div>
    <div class="col-md-8">
      <div class="mb-4">
        <div class="d-flex justify-content-between mb-3">
          <span>
            ##
            <span>Morning<br>9:00 AM to 12:00 PM</span>
          </span>
          <span><a href="#">+ Add Slot</a></span>
        </div>

        <div>
          <mat-radio-group>
            <mat-radio-button class="m-3" value="{{time.hour+time.minute}}" *ngFor="let time of morningScheduling">  {{time.hour % 13}}:{{time.minute}} {{time.hour > 11 ? 'PM' : 'AM'}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <hr />
      <div class="mb-4">
        <div class="d-flex justify-content-between mb-3">
          <span>
            ##
            <span>Evening<br>5:00 PM to 09:00 PM</span>
          </span>
          <span><a href="#">+ Add Slot</a></span>
        </div>
        <div>
          <mat-radio-group>
            <mat-radio-button class="m-3" value="{{time.hour+time.minute}}" *ngFor="let time of eveningScheduling">  {{time.hour % 13}}:{{time.minute}} {{time.hour > 11 ? 'PM' : 'AM'}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <hr />
      <div class="mb-4">
        <div class="d-flex justify-content-between mb-3">
          <span>
            ##
            <span>Waiting list</span>
          </span>
          <span><a href="#">+ Add to Wait List</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
