/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-sidenav {
    width: 200px;
  
  }
  .size{
   font-size: 100px;
  }
  .mat-h1{
    justify-self: start;
  }

  .mat-grid-tile .mat-figure {
    justify-content: flex-end !important ;
    align-items: flex-start !important;
 }
  .top{
    position: absolute;
    top: 0;
    left: 0;
  }
 mat-sidenav ::-webkit-scrollbar {
    display: none;
  }
  .margin-left{
    margin-left:1em ;
  }
  .header{
      font-size: 2em;
      margin-bottom: 1.5em;
      margin-left: 0.5em;
  }
  .side-nav{
    background-color: #1589FF;
    color: white;
  }
  .side-nav li {
      list-style: none;
  }
  .m-1{
      margin-right:0.5em;
  }
  .h-5{
height: 2em;
  }
  .mat-toolbar-container {
    height: 2em;
  }
  .email{
    background-color: darkblue;
    color: white;
    width: 1.8em;
    height: 1.8em;
    font-size: 0.8em;
    text-align: center;
    border-radius:50% ;
   
  }
  .drop{
    position: relative;
    left: 21px;
  }
  .drop-1{
    position: relative;
    left: 37px;
  }
  .drop-2{
    position: relative;
    left: 33px;
  }
  .drop-3{
    position: relative;
    left: 31px;
  }
  .drop-4{
    position: relative;
    left: 45px;
  }
  .drop-5{
    position: relative;
    left: 50px;
  }
  .drop-6{
    position: relative;
    left: 64px;
  }
  .drop-7{
    position: relative;
    left: 25px;
  }
  .drop-8{
    position: relative;
    left: 60px;
  }
  .drop-9{
    position: relative;
    left: 74px;
  }
  .form-control{
    border: none;
    height: 3em;
    background-image: url("./assets/search-black-18dp.svg");
    background-position: 10px center;
    background-repeat: no-repeat;


    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
    width: 200px;
  }.form-control ::placeholder{
    color:silver;
    opacity: 0.5;
  }

 