

<div class="bod">
    <div class="elelment">
        <h2>Reset Password Form</h2>
        <div class="element-main">
            <h1>Forgot Password</h1>
            <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.</p>
            <form>
                <input type="text" value="Your e-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your e-mail address';}">
                <input type="submit" value="Reset my Password">
            </form>
        </div>
    </div>
</div>